---
import projectsData from '../../data/projects.json';

const name = "Pranshu Jha";
const tagline = "Data Engineer / SWE";
const age = new Date().getFullYear() - 2004;
const about = `i'm ${age}-year-old developer based in chennai, india. passionate about building scalable systems and projects with a real-world impact.`;

const latestProject = projectsData.projects[0];
---

<section class="space-y-6">
  <!-- Hero Section -->
  <div class="flex items-center space-x-4">
    <img src="/assets/pfp.jpg" class="size-18 rounded-3xl" alt="Pranshu Jha" />
    <div>
      <h1>{name}</h1>
      <p class="text-neutral-400">{tagline}</p>
    </div>
  </div>

  <!-- About -->
  <p>{about}</p>
  <p>
    currently working on something called
    <a
      href={latestProject.url}
      target="_blank"
      rel="noopener noreferrer"
      class="lowercase text-yellow-500 hover:text-yellow-600"
    >{latestProject.name}</a>
    and writing my
    <a
      href="/blog"
      class="lowercase text-yellow-500 hover:text-yellow-600"
    >blogs here</a>.
  </p>
</section>
