---
import experienceData from '../../data/experience.json';
import SectionHeading from '../ui/SectionHeading.astro';
const experiences = experienceData.experience;
---

<section class="space-y-4">
  <SectionHeading command="ls -la" heading="./experiences" extension={null} />

  <div class="space-y-4">
    {experiences.map(exp => (
      <div class="flex items-start justify-between space-y-1">
        <div class="flex flex-col space-y-1">
          <div class="font-semibold flex items-center space-x-2">
            {exp.active ? (
            <div class="relative [&>div]:absolute -mt-1.5 pr-2">
                <div class="size-2 bg-teal-600 rounded-full shadow-lg shadow-teal-600/50 animate-ping"></div>
                <div class="size-2 bg-teal-600 rounded-full shadow-lg shadow-teal-600/50"></div>
              </div>
          ) : (
            <div class="size-2 bg-neutral-600 rounded-full shadow-lg shadow-neutral-600/50"></div>
          )}
            <span>{exp.company}</span>
          </div>
          <span class="text-neutral-400 text-sm">
            {exp.title}
          </span>
        </div>
        <p class="text-neutral-400 text-sm">
          {exp.duration} • {exp.location}
        </p>
      </div>
    ))}
  </div>
</section> 
